PORT=42042
SUBDOMAIN='unl'
WS_HOST='wss://api.collegescheduler.com'
USERAGENT='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36'
REFRESH_INTERVAL=1200000

# Not required necessarily but does confirm RMP integration uses the correct university. Otherwise it attempts lookup using SUBDOMAIN
# Can be found by Base64 encoding School-YOURSCHOOLSID which is found easily by using RMP website URL after clicking university

# rmpSchoolID=U2Nob29sLTEyNDk=