<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AutoEnroll</title>
  </head>

  <body>
    <form method="POST">
      <label for="term">Term:</label>
      <select id="term" name="term">
        <% terms.forEach(term => { %>
        <option value="<%= term %>"><%= term %></option>
        <% }); %>
      </select>
      <label for="interval">Interval (ms)</label>
      <input type="number" id="interval" name="interval" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
