<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
</head>

<body>
  <p>yo nice cookie</p>
  <p>check out the <a href="/api/">proxy</a></p>
</body>

<script type="text/javascript">

</script>

</html>