<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <%- include('../../components/head'); %>
  <script src="/js/sse.js" async></script>
</head>

<body>
  <p>
    cookie will be continually refreshed from now on, view the current cookie
    <a href="/cookie">here</a>
  </p>
  <p>check out the <a href="/api/">proxy</a></p>
  <p>also <a href="/autoenroll">autoenroll</a></p>
  <p>also <a href="courses">courses</a></p>
</body>

</html>